<div class='section about'>
    <h2 class='about__header'>About</h2>

    <div class='about__line-divider line-divider'></div>

    <div class='about__container'>
        <div class='about__description-text'>
            <p class='about__description'>
                I'm a producer based out of Austin, TX. I love messing with audio signals in all shapes, rates, bits, and voltages whether that means composing music in the DAW, jamming on hardware, or even writing code to apply digital signal processing algorithms.
            </p>

            <p class='about__description'>
                I use
                <a class='text-link text-link--green about__link' target='_blank' rel='nofollow noopener noreferrer' href='https://open.spotify.com/artist/2MOOYBdY5kjSsiTCugonnJ?si=F4KfVbhPTHql_2T0GBVkBQ'>
                    Spotify
                </a> to post my official releases of singles and EPs. To see more of the raw stuff (i.e. jams, talks) I will post to either my
                <a class='text-link text-link--red about__link' target='_blank' rel='nofollow noopener noreferrer' href='https://www.youtube.com/channel/UCn5I3P_TfAJOpMxOFpQMHQQ'>
                    YouTube
                </a>, or my
                <a class='text-link text-link--orange about__link' target='_blank' rel='nofollow noopener noreferrer' href='https://soundcloud.com/apellum'>
                    SoundCloud
                </a>. You can also feel free to <a class='text-link about__link--email' [href]='"mailto:" + constructEmail()'>email</a>
                me as well - I am always down to chat!
            </p>

            <p class='about__description'>
                Thanks for checking out my website - I made it from scratch! If you're interested in seeing other work that I do, please visit my
                <a class='text-link text-link--blue about__link' target='_blank' rel='nofollow noopener noreferrer' href='https://mattmaxwell.dev'>
                    portfolio / blog
                </a>.
                Cheers!
            </p>
        </div>

        <div class='about__portrait-container'>
            <picture>
                <source srcset='assets/images/real-portrait.webp' type="image/webp">
                <source srcset='assets/images/real-portrait.png' type="image/png">
                <img class='about__portrait' alt='Profile image' src='assets/images/real-portrait.png'>
            </picture>
        </div>
    </div>
</div>