@import 'variables';

.about {
}

.about__header {
}

.about__container {
    display: grid;
    grid-template-areas:
        "text"
        "portrait";
}

.about__description-text {
    grid-area: text;
}

.about__portrait-container {
    grid-area: portrait;
}

.about__description {
    color: $color-highlight;
    margin-bottom: $margin;
}

.about__portrait {
    border: 1px solid $color-highlight;
    max-height: 720px;
    max-width: 100%;
    width: auto;
}

@media only screen and (min-width: 768px) {
    .about__container {
        grid-template-areas:
            "text portrait";

        .about__description-text {
            margin-right: $margin;
        }
    }
}