<div class='section about'>
    <h2 class='about__header'>About</h2>

    <div class='about__line-divider line-divider'></div>

    <div class='about__container'>
        <div class='about__description-text'>
            <p class='about__description'>
                I'm a producer based out of Austin, TX and I love messing with signals in all shapes, rates, and voltages whether that means composing music in the DAW, jamming on hardware, or even writing code to apply digital signal processing algorithms.
            </p>

            <p class='about__description'>
                I'm a producer based out of Austin, TX and I love messing with signals in all shapes, rates, and voltages whether that means composing music in the DAW, jamming on hardware, or even writing code to apply digital signal processing algorithms.
            </p>
        </div>

        <div class='about__portrait-container'>
            <picture>
                <source srcset='assets/images/portrait.webp' type="image/webp">
                <source srcset='assets/images/portrait.png' type="image/png">
                <img class='about__portrait' alt='Profile image' src='assets/images/portrait.png'>
            </picture>
        </div>
    </div>
</div>