logo-header.svelte-1sbpasn,
mobile-layout.svelte-1sbpasn {
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
mobile-layout.svelte-1sbpasn {
	transition-duration: 0.15s;
}
mobile-layout.svelte-1sbpasn svg {
	height: 28px;
	width: 28px;
	opacity: 1;
}
mobile-layout.svelte-1sbpasn button svg {
	fill: var(--menu-icon-color);
}
.hide.svelte-1sbpasn {
	opacity: 0;
}
layout.svelte-16ydvep {
	--tw-text-opacity: 1;
	color: rgb(238 242 255 / var(--tw-text-opacity));
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
	--tw-text-opacity: 1;
	color: rgb(238 242 255 / var(--tw-text-opacity));
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600 !important;
}
p,
a,
button {
	font-weight: 500 !important;
	font-size: 0.875rem !important;
	line-height: 1.5rem !important;
}
@media (min-width: 1024px) {
	p,
	a,
	button {
		font-size: 1rem !important;
		line-height: 2rem !important;
	}
}
link-sidebar.page.svelte-idl1s2.svelte-idl1s2 {
	position: absolute;
	top: 8vh;
}
link-sidebar.drawer.svelte-idl1s2.svelte-idl1s2 {
	margin-right: 2rem;
}
link-sidebar.svelte-idl1s2 a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
link-sidebar.svelte-idl1s2 a.page.svelte-idl1s2 {
	height: 2.125rem;
}
link-sidebar.svelte-idl1s2 a.drawer.svelte-idl1s2 {
	height: 3rem;
}
link-sidebar.svelte-idl1s2 a svg {
	height: 20px;
	width: 20px;
	fill: var(--link-color);
	opacity: 0.75;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
link-sidebar.svelte-idl1s2 a svg:hover {
	opacity: 1;
}
side-drawer.svelte-1rddk86 {
	--tw-bg-opacity: 1;
	background-color: rgb(2 6 23 / var(--tw-bg-opacity));
	transition: width 0.5s ease-in-out;
	animation-fill-mode: both;
}
a {
	font-size: 1.125rem !important;
	line-height: 1.75rem !important;
}
button svg {
	height: 32px !important;
	width: 32px !important;
}
website-navbar.page.svelte-h27nto.svelte-h27nto {
	position: absolute;
	top: 8vh;
	left: 1rem;
}
website-navbar.drawer.svelte-h27nto.svelte-h27nto {
	margin-top: 8vh;
	padding-right: 2rem;
}
website-navbar-link.svelte-h27nto.svelte-h27nto {
	opacity: 0.6;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
	animation-fill-mode: both;
}
website-navbar-link.svelte-h27nto.svelte-h27nto:hover,
website-navbar-link.selected.svelte-h27nto.svelte-h27nto {
	opacity: 1;
}
website-navbar-link.selected.svelte-h27nto website-navbar-link-highlight.svelte-h27nto {
	--tw-border-opacity: 1;
	border-color: rgb(239 46 94 / var(--tw-border-opacity));
}
website-navbar-link.svelte-h27nto website-navbar-link-highlight.svelte-h27nto {
	--tw-border-opacity: 1;
	border-color: rgb(2 6 23 / var(--tw-border-opacity));
}
.contact-link.svelte-16xw5p0.svelte-16xw5p0 {
	margin-left: 0.5rem;
	opacity: 0.6;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
	font-size: 0.875rem !important;
	line-height: 1.25rem !important;
}
@media (min-width: 1024px) {
	.contact-link.svelte-16xw5p0.svelte-16xw5p0 {
		font-size: 1rem !important;
		line-height: 1.5rem !important;
	}
}
.contact-link.svelte-16xw5p0.svelte-16xw5p0:hover {
	opacity: 1;
}
.contact-section.svelte-16xw5p0 p.svelte-16xw5p0:not(:first-of-type) {
	margin-top: 1vh;
}
@media (min-width: 1024px) {
	.contact-section.svelte-16xw5p0 p.svelte-16xw5p0:not(:first-of-type) {
		margin-top: 2vh;
	}
}
svg {
	height: 18px;
	width: 18px;
	opacity: 0.75;
	fill: #eef2ff;
}
button.svelte-16tc6xk {
	cursor: pointer;
}
tooltip.svelte-16tc6xk {
	margin-right: 32px;
}
@media (min-width: 1024px) {
	tooltip.svelte-16tc6xk {
		margin-left: 32px;
	}
}
tooltip.svelte-16tc6xk {
	pointer-events: none;
	font-size: 10px;
}
button.svelte-16tc6xk svg {
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
button.svelte-16tc6xk svg:hover {
	opacity: 1;
}
p.svelte-16tc6xk {
	font-size: 0.75rem !important;
	line-height: 1rem !important;
}
@media (min-width: 1024px) {
	p.svelte-16tc6xk {
		font-size: 0.875rem !important;
		line-height: 1.25rem !important;
	}
}
.loader.svelte-1ehggho {
	border: 10px solid #4c5adb;
	border-top: 10px solid #020617;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	animation: svelte-1ehggho-spin 1.5s linear infinite;
}
@keyframes svelte-1ehggho-spin {
	0% {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
svg {
	height: 28px;
	width: 28px;
}
