@import 'variables';

.landing {
    display: flex;
    flex-direction: column;
    height: $page-height;
    justify-content: center;
}

.landing__header {
    color: $color-primary;
    font-weight: 300;
    margin-bottom: $margin;

    &--highlight {
        color: $color-white;
        font-weight: 700;
    }
}

.landing__tagline {
    color: $color-highlight;
    font-weight: 500;
    margin-bottom: $margin;
}

.landing__landing {
    color: $color-highlight;
    font-weight: 400;
    margin-bottom: $margin;
}

.landing__contact-btn {
    font-size: 120%;
    height: $large-btn-height;
    line-height: $large-btn-height;
    width: $btn-width;
}

@media only screen and (min-width: 768px) {
    .landing__header--highlight {
        font-size: 180%;
    }

    .landing__contact-btn {
        height: $extra-large-btn-height;
        line-height: $extra-large-btn-height;
    }
}