<div class='section landing'>
    <div class='landing__border'>
        <div class='landing__image' [style.backgroundImage]="'url(assets/images/' + word.toLowerCase() + '.webp)'" @swapImages></div>
        <h1 class='landing__header'>Apellum</h1>

        <div class='line-divider landing__line-divider'></div>

        <h2 class='landing__sub-header'>
            <span class='landing__sub-header--thin'>I am a[n]</span>
            <br><br>
            <span class='landing__sub-header--emphasis' @swapWords>{{ word }}</span>
        </h2>
    </div>
</div>