@import 'variables';

.landing__border {
  align-items: center;
  border: 1px $color-highlight solid;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: calc(100vh - 1.0 * #{$header-height} - 1.5 * #{$footer-height});
}

.landing__image {
  animation: swapImages 3200ms infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation: swapImages 3200ms infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation: swapImages 3200ms infinite;
  -moz-animation-timing-function: ease-in-out;
  -o-animation: swapImages 3200ms infinite;
  -o-animation-timing-function: ease-in-out;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: calc(100vh - 1.0 * #{$header-height} - 1.5 * #{$footer-height});
  max-height: calc(100vh - 1.0 * #{$header-height} - 1.5 * #{$footer-height});
  max-width: 1060px;
  opacity: 0.0;
  position: absolute;
  width: calc(100vw - 2.0 * #{$padding});
}

.landing__header {
  color: $color-highlight;
  font-weight: 700;
  font-size: 240%;
  letter-spacing: 0.4rem;
  margin-bottom: $margin;
  text-align: center;
}

.landing__line-divider {
  width: 60%;
  text-align: center;
}

.landing__sub-header {
  text-align: center;

  &--thin {
    font-weight: 300;
    letter-spacing: 0.4rem;
    padding-bottom: $padding;
  }

  &--emphasis {
    animation: swapWords 3200ms infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation: swapWords 3200ms infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation: swapWords 3200ms infinite;
    -moz-animation-timing-function: ease-in-out;
    -o-animation: swapWords 3200ms infinite;
    -o-animation-timing-function: ease-in-out;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.2rem;
  }
}

@keyframes swapImages {
  0% {
    opacity: 0.0;
  }
  20% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.0;
  }
}

@keyframes swapWords {
  0% {
    opacity: 0.0;
  }
  20% {
    opacity: 1.0;
  }
  80% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

@media only screen and (min-width: 768px) {
  .landing__header--highlight {
    font-size: 180%;
  }
}