@import 'variables';

.landing__border {
    align-items: center;
    border: 1px $color-highlight solid;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: calc(100vh - 1.0 * #{$header-height} - 1.5 * #{$footer-height})
}

.landing__header {
    color: $color-highlight;
    font-weight: 300;
    margin-bottom: $margin;
    text-align: center;
}

.landing__line-divider {
    width: 60%;
    text-align: center;
}

.landing__sub-header {
    animation: swap 2400ms infinite;
}

@keyframes swap {
    0% {
        opacity: 0.0;
    }
    20% {
        opacity: 1.0;
    }
    80% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.0;
    }
}

@media only screen and (min-width: 768px) {
    .landing__header--highlight {
        font-size: 180%;
    }
}