@import 'variables';

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    background-color: $color-black;
    color: $color-white;
    padding: $padding;
    margin: 0 auto;
    max-width: 1060px;
    min-height: calc(98vh - #{$header-height} - #{$section-divider-height} - #{$footer-height} * 2);
}