// COLORS
$color-white: #F9F9F9;
$color-highlight: #e2e2e2;
$color-primary: #B0B0B0;
$color-secondary: #606060;
$color-shadow: #444444;
$color-black: #141421;

// FONTS
$font-stack: Montserrat, Roboto, "Helvetica Neue", sans-serif;

// ANIMATIONS
$app-fade-in: 2s;