// COLORS
$color-white: #F9F9F9;
$color-highlight: #e2e2e2;
$color-primary: #B0B0B0;
$color-secondary: #606060;
$color-shadow: #444444;
$color-black: #141421;

// DIMENSIONS
$footer-height: 6vh;
$header-height: 8vh;
$small-icon-height: 3vh;
$icon-height: 42px;
$image-height: 50vh;

$half-page-height: 46vh;
$page-height: 92vh;

$line-divider-height: 1.5px;
$section-divider-height: 15vh;

// MARGIN
$margin: 2rem;
$half-margin: 1rem;
$quarter-margin: 0.5rem;
$eighth-margin: 0.25rem;

// PADDING
$one-and-half-padding: 3rem;
$padding: 2rem;
$half-padding: 1rem;
$quarter-padding: 0.5rem;

// HOVER EFFECTS
$hover-transition-duration: 0.2s;
$hover-transition-transform: -3px;

// FONTS
$font-stack: Montserrat, Roboto, "Helvetica Neue", sans-serif;

// ANIMATIONS
$app-fade-in: 2s;

$anchor-active-transition-duration: 0.075s;

$icon-active-transition-duration: 0.06s;
$icon-active-transition-scale: 0.95;

$navbar-transition-duration: 0.3s;

$sidebar-transition-duration: 0.15s;

$main-logo-animation-duration: 0.6s;
$main-logo-animation-delay: 0.2s;

$menu-icon-animation-duration: 0.2s;
$menu-icon-animation-scale-start: 0.85;
$menu-icon-animation-scale-end: 1.15;
