* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
}

html,
body {
	background-color: #020617;
	font-family:
		Montserrat,
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		'Noto Sans',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		'Noto Color Emoji';
}
