@import 'variables';

.footer {
    animation: delay 3000ms forwards;
    background-color: $color-black;
    height: $footer-height;
}

.footer__text {
    color: $color-highlight;
    font-size: 85%;
    line-height: $footer-height;
    text-align: center;
    vertical-align: middle;
}

@keyframes delay {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}